
@import url('https://fonts.googleapis.com/css2?family=Mynerve&family=Shantell+Sans:ital@1&family=Ubuntu:wght@300&display=swap');
*{
    padding:0;
    margin:0;
}
.body
{
    background:url("../bg.jpg");
    min-height:100vh;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    display:flex;
    justify-content: center;
    align-items: center;
}
#board
{
    background: linear-gradient(rgb(117, 194, 117),rgb(236, 236, 125));
    width:90vmin;
    height:92vmin;
    border:2px solid black;
    display: grid;
    grid-template-rows: repeat(18,1fr);
    grid-template-columns: repeat(18,1fr);
}

.head
{
    background:linear-gradient(red,yellow);
    border:2px solid purple;
    transform: scale(1.02);
    border-radius: 9px;

}
.snake
{
    background-color:purple ;
    border:.25vmin solid white;
    border-bottom: 12px;

}
.food
{
    background:linear-gradient(rgb(238, 200, 200),rgb(214, 152, 214));
    border:.25vmin solid black;
    border-radius: 8px;
}
#scoreBox{
    position:absolute;
    top:9px;  
    right:200px;
    font-size:39px;
    font-weight:bold;
    /* font-family: 'Mynerve', cursive; */
    /* font-family: 'Shantell Sans', cursive; */
    font-family: 'Ubuntu', sans-serif;
    
}
/* #hiscoreBox{
    position:fixed;
    margin-top:4px;  
    right:400px;
    font-size:39px;
    font-weight:bold;
    /* font-family: 'Mynerve', cursive; */
    /* font-family: 'Shantell Sans', cursive; */
    /* font-family: 'Ubuntu', sans-serif;
    
} 
*/ 